<div class="container-fluid  vh-100 ">
    <div class="row h-100 ">
        <div
            class="col-md-8 postion-relative main-background-color pt-3  d-flex flex-column align-items-center justify-content-between ">
            <h4 class="txt-white w-25  ">PEACHY PUP BAKERY </h4>
            <div class="txt-white  w-50 ps-5  ">
                <h1 class="fw-bold"  style="font-size: 3rem;">TASTY PASTRIES</h1>
                <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text
                    ever since the</p>
                <button class="px-4 btn btn-warning btn-modify fw-bolder  py-2">
                    <a href="#howWork">SEE MORE</a>
                </button>
            </div>
            <p class="txt-white w-25 ">Telephone:+7 700 000 00 00</p>
        </div>
        <div class="col-md-4  rigth-side  ">
        </div>
        <div class="bread-image ">
            <img class="w-100 h-100" src="../../assets/Place Your Image Here (Double Click to Edit)_ 1.svg" alt="">
        </div>
        <div class="mask-image  ">
            <img src="../../assets/Mask Group (1).svg" alt="">
            <div class="social-list d-flex flex-column justify-content-evenley align-items-center mt-2">
                <a href="https://www.facebook.com/UpskillingEG" class=" w-100 h-25">
                    <img class="w-75 h-100" src="../../assets/bx_bxl-vk.svg" alt="">
                </a>
                <a href="https://www.facebook.com/UpskillingEG" class="w-75 h-25">
                    <img class="w-100 h-100" src="../../assets/brandico_facebook-rect.svg" alt="">
                </a>
                <a href="https://www.facebook.com/UpskillingEG" class="w-75 h-25">
                    <img class="w-100 h-100" src="../../assets/bx_bxl-instagram-alt.svg" alt="">
                </a>
                <a href="https://www.facebook.com/UpskillingEG" class=" w-75 h-25">
                    <img class="w-100 h-100" src="../../assets/ant-design_twitter-outlined.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>